spring:
  application:
    name: pgms-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/pgms
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    format-sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    out-of-order: true
    locations:
      - classpath:db

logging:
  level:
    org.springframework.boot.autoconfigure.flyway: DEBUG
    org.flywaydb: DEBUG
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    info:
      enabled: true
    health:
      show-details: always
  info:
    env:
      enabled: true

server:
  servlet:
    context-path: /compgmsds

info:
  app:
    name: PG Management Backend
    version: 1.0.0
    description: PG Business Management System